{:W('public/breadcrumbs',[
    [
        ['href'=>'javascript:;','text'=>'送礼记录']
    ]
])}
</if>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <form class="search" action="__SELF__" method="get">
                <input name="m" value="{:MODULE_NAME}" hidden>
                <input name="c" value="{:CONTROLLER_NAME}" hidden>
                <input name="a" value="{:ACTION_NAME}" hidden>
                <input type="text" name="nickname" value="{$_GET['nickname']}" id="nickname" placeholder="搜索送礼用户昵称、手机号" size="30" style="margin-right: 20px;">
                <input type="text" name="cname" value="{$_GET['cname']}" id="cname" placeholder="搜索收礼主播昵称、手机号" size="30" style="margin-right: 20px;">
                <input type="text" name="start_time" value="{$_GET['start_time']}" id="start_time" size="30" style="margin-left:20px;" placeholder="按开始时间段搜索" />
                <input type="text" name="end_time" value="{$_GET['end_time']}" id="end_time" size="30" style="margin:0 20px 0 20px;" placeholder="按结束时间段搜索" />
                <input type="submit"  class="btn" value="搜索">
                
                <!--<span style="float:right;padding-right:30px;padding-top:10px">-->
		           <!--<a href="javascript:;" style="text-decoration:none;color:#000000"><span style="padding:10px 10px 10px 10px;background-color:#DDDDDD;" onclick="xiazai()">导出excl</span></a>-->
		        <!--</span>-->
            </form>

            <table width="100%" class="tab" style="margin-top:10px;">
                <thead>
                <tr><td colspan="10" align="left">
                <span style="float:left;padding-right:30px;padding-top:8px;padding-bottom:18px">
	              <a href="javascript:void(0);" style="text-decoration:none;color:#000000">
                      <span onclick="del();" style="padding:10px 10px 10px 10px;background-color:#DDDDDD;">删除</span></a>
	            </span>
                <span style="float:left;padding-top:8px;">每页显示
				<select id="nus" onchange="getnums();">
				  <volist name="nums" id="l">
				     <option value="{$l}" <if condition=" $l eq $nus ">selected<else/></if>>{$l}</option>
				  </volist>
				</select>
				条</span>
				</td></td>
                </tr>
                    <tr>
                        <td><a href="javascript:;" id="selall" class="">全选</a></td>
                        <td>礼物名称</td>
                        <td>礼物图片</td>
                        <td>礼物价值</td>
                        <td>送礼会员(ID)</td>
                        <td>会员账号</td>
                        <td>收礼网红(ID)</td>
                        <td>网红账号</td>
                        <td>送礼时间</td>
                        <td width="190">操作</td>
                    </tr>
                </thead>
                <volist name="list" id="vo">
                    <tr align="center" onmouseout="this.style.background='#FFFFFF';" onmouseover="this.style.background='#FFFFBB';">
                        <td align="center">
                            <input type="checkbox" name="ids" class="ids"  value="{$vo.give_gift_id}"/>
                            <php>
                                if($_GET['num'])$num=$_GET['num'];else $num ='10';
                                if($_GET['p'] > 0){
                                    echo $key+1+($_GET['p']-1)*$num;
                                    }else{
                                    echo $key+1;
                                }
                            </php>
                        </td>
                        <td>{$vo['name']}</td>
                        <td><img src="{$vo.img}" style="width:50px; height:50px; border-radius:25px;"></td>
                        <td>{$vo['jewel']}</td>
                        <td>{$vo.username}({$vo.id})</td>
                        <td>{$vo.phone}</td>
                        <td>{$vo.actor}({$vo.actor_id})</td>
                        <td>{$vo.actor_phone}</td>
                        <td>{$vo.intime|date="Y-m-d H:i",###}</td>
                        <td>
                            [ <a href="javascript:;"  onclick="del({$vo.give_gift_id});">删除</a> ]
                        </td>
                    </tr>
                </volist>
                <!--<tr><td colspan="7" align="right">{$page}</td></td></tr>-->
            </table>
            {$page}
        </div>
    </div>
</div>
<!--<script src="__ROOT__/public/admin/js/common.js"></script>-->
<script type="text/javascript">
$(function() {
$("#selall").click(function(){
    $(this).toggleClass("xuan");
    if($(this).is(".xuan")){
        $("input[name='ids']").each(function(){
            $(this).prop("checked", true);
        })
    }else{
        $("input[name='ids']").each(function(){
            $(this).prop("checked", false);
        })
    }
});

});

function del(kid){
	
kid = kid ? kid : getChecked();
kid = kid.toString();
if(kid == ''){
	layer.msg('你没有选择任何选项！', {offset: 95,shift: 6});
	return false;
}
if(!confirm('确定要删除该记录？'))
	return false;
$.post("{:U('Live/del_give_gift')}", {ids:kid}, function(data){
	if( data['status'] == 'ok' ){
        alert(data.info);
		window.location.href = data.url;
	}else{
        alert(data.info);
	}
},'json');
    return false;
} 
function getChecked() {
var gids = new Array();
$.each($('input:checked'), function(i, n){
	gids.push( $(n).val() );
});
return gids;
}
function xiazai(){
    var download = 'download';
    window.location.href="__SELF__&act="+download;
}
function getnums(){
    var num = $("#nus").val();
    window.location.href="__SELF__&num="+num;
}

//$('.check_auth').click(function(){
//    var url = $(this).attr('data-action');
//    console.log(url+'&chek=1');
//    $.get(url+'&chek=1',function(data){
//
//    })
//})
$("#start_time").datetimepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1,
    autoclose: true,
    todayBtn: 'linked',
    language: 'zh-CN',
    minView: 2
}).on('changeDate', function(ev) {
    $("#end_time").datetimepicker('setStartDate', $(this).val());
});

$("#end_time").datetimepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1,
    autoclose: true,
    todayBtn: 'linked',
    language: 'zh-CN',
    minView: 2
});
</script>