{:W('public/breadcrumbs',[
[
['href'=>U('Live/index'),'text'=>'分类列表'],
['href'=>'','text'=>'直播商品'],
]
])}
</if>
<style type="text/css">
    .modal-sm{width:510px;}
    .layui-layer-btn {
        text-align: center!important;
        padding: 0 10px 12px;
        pointer-events: auto;
    }
    #big{
        position:absolute;
        left:490px;
        top:0px;
        z-index:999;
        display:none;
    }
</style>
<script type="text/javascript" src="__ROOT__/public/admin/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="__ROOT__/public/admin/layer/layer.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <form class="search" action="__SELF__" method="get">
                <span style="float:right;padding:10px 30px 20px 0">
		          <a href="javascript:void(0)" onclick='add_good("{$_GET['cate_id']}")'  style="text-decoration:none;color:#000000">
                       <span style="padding:10px 10px 10px 10px;background-color:#DDDDDD;">添加商品</span>
                   </a>
		        </span>
            </form>
            <table width="100%" class="tab" style="margin-top:10px;">
                <thead>
                <tr><td colspan="6" align="left">
                <span style="float:left;padding-right:30px;padding-top:8px;padding-bottom:18px">
	              <a href="javascript:void(0);" style="text-decoration:none;color:#000000">
                      <span onclick="del();" style="padding:10px 10px 10px 10px;background-color:#DDDDDD;">删除</span>
                  </a>
	            </span>
                </td></td>
                </tr>
                <tr>
                    <td><a href="javascript:;" id="selall">全选</a></td>
                    <td>名称</td>
                    <td>图片</td>
                    <td>售价</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <volist name="list" id="vo">
                    <tr align="center" onmouseout="this.style.background='#FFFFFF';" onmouseover="this.style.background='#FFFFBB';">
                        <td align="center"><input type="checkbox" name="ids" id="ids"  value="{$vo.id}"/>
                        </td>
                        <td>{$vo['name']}</td>
                        <td><img src="{$vo.thumb}" style="width:80px; height:60px;"></td>
                        <td>{$vo['sale_price']}</td>
                        <td>{$vo.intime}</td>
                        <td>
                            [ <a href="javascript:;"  onclick="del({$vo.id});">删除</a> ]
                        </td>
                    </tr>
                </volist>
            </table>
            {$page}
        </div>
    </div>
</div>
<!--<script src="__ROOT__/public/admin/js/common.js"></script>-->
<script type="text/javascript">
    $(function() {
        $(".ajax-frm").submit(function(){
            var url = "{:U('Live/add_class')}";
            $.post(url,$(this).serializeArray(),function(data){
                if(data.status=='ok'){
                    popup.success(data.info);
                    setTimeout(function(){
                        popup.close("asyncbox_success");
                    },2000);
                    window.location.href = data.url;
                }else {
                    if (data['class'].length > 0) {
                        $('.yz').html('');
                        $('.' + data.class).html(data.info);
                        $('#' + data.class).focus();
                    } else {
                        popup.error(data.info);
                        setTimeout(function () {
                            popup.close("asyncbox_error");
                        }, 2000);
                    }
                }
            },'json');
            return false;
        })


    });


    function del(kid){

        kid = kid ? kid : getChecked();
        kid = kid.toString();
        if(kid == ''){
            layer.msg('你没有选择任何选项！', {offset: 95,shift: 6});
            return false;
        }
        if(!confirm('确定要删除该记录？\n删除一级分类，相应的下级分类也会被删除'))
            return false;
        $.post("{:U('Live/del_live_goods')}", {ids:kid}, function(data){
            if( data['status'] == 'ok' ){
                alert(data.info);
                window.location.href = data.url;
            }else{
                alert(data.info);
            }
        },'json');
        return false;
    }
    function getChecked() {
        var gids = new Array();
        $.each($('input:checked'), function(i, n){
            gids.push( $(n).val() );
        });
        return gids;
    }
    function add_good(id,v){
        console.log(id);
        if(id > 0) {
            $.ajax({
                type: "GET",
                url: "{:U('Live/check_goods')}",
                dataType: 'text',
                data: {id: id},
                success: function (data) {
                   if(data !=null||data !=''){
                       $("#choose_goods").html(data);
                   }
                }
            })
        }
        var html='<table class="table table-striped table-hover">' +
                '<tr>' +
                '<td style="vertical-align: middle;">商品选择</td>' +
                '<td><select  name="goods_id" value="" id="choose_goods" style="width:320px;">' +
                '<option value="" id="">请选择商品</option>' +
                '</select>' +
                '<span class="red important"> * </span> ' +
                '</td>' +
                '<td></td> ' +
                '</tr>' +
                '</table>'
        layer.open({
            type: 1,
            title: '直播商品选择',
            closeBtn: 0,
            area: ['500px','200px'],
            skin: '', //没有背景色
            shadeClose: true,
            content: html,
            btn:['添加'],
            yes:function(){
                var goods_id = $("#choose_goods").val();
                if(goods_id == ''||goods_id ==null){
                    alert("请选选择商品");
                    return false;
                }
                $.ajax({
                    url:"{:U('Live/add_live_goods')}",
                    type:'post',
                    data:{cate_id:id,goods_id:goods_id},
                    dataType:'json',
                    success:function(data){
                        console.log(data);
                        if(data.status=='ok'){
                            alert(data['info']);
                            window.location.href = window.location.href
                        }else{
                            alert(data.info);
                        }
                    }
                })
            }
        });

    };

</script>