<style>
.rules{vertical-align: top;}
.rules_label{ margin-right:8px;}
</style>
<div class="modal fade" id="rules-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="rules-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
					&times;
				</button>
				权限列表
			</div>
			<div class="modal-body">
				<div id="box-rules">
					<ul>
                        <foreach name="list" item="v">
                        <li>
                            <label class="rules_label"><input type="checkbox" class="rules" name="rules" <php>if(in_array($v['id'], $rules)) echo 'checked';</php> value="{$v.id}">{$v.title}</label>
                            <php>if($v['son']){</php>
                                <div style="padding-left:30px;">
                                    <foreach name="v.son" item="v1">
                                        <label class="rules_label"><input type="checkbox" class="rules" name="rules" <php>if(in_array($v1['id'], $rules)) echo 'checked';</php> value="{$v1.id}">{$v1.title}</label><br>
                                        <php>if($v1['son']){</php>
                                            <div style="padding-left:30px;">
                                                <foreach name="v1.son" item="v2">
                                                    <label class="rules_label"><input type="checkbox" class="rules" name="rules" <php>if(in_array($v2['id'], $rules)) echo 'checked';</php> value="{$v2.id}">{$v2.title}</label>
                                                </foreach>
                                            </div>
                                        <php>}</php>
                                    </foreach>
                                </div>
                            <php>}</php>
                        </li>
                        </foreach>
                    </ul>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm btn-danger pull-left" id="choose-all">
					全选
				</button>
				
				<button class="btn btn-sm btn-danger pull-left" id="choose">
					确定
				</button>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$("#choose-all").click(function(){
		$("#box-rules input[type='checkbox']").each(function(i,n){
			var ischeck = $(n).prop("checked");
			if(ischeck){
				$(n).prop("checked",false);
			} else {
				$(n).prop("checked",true);
			}
		});
	});
	
	$("#choose").click(function(){
		var ids = '';
		$("#box-rules input:checked").each(function(i,n){
			if(i==0){
				ids += $(n).val();
			} else {
				ids += ',' + $(n).val();
			}
		});
		$("#rules").val(ids);
		$("#rules-modal").modal('hide');
	});
});
</script>